extends layouts/main-layout.pug


block content
    h2 hello
    block snippet
        p 
            | This is the landing page for a small collection of snippets.
            | Some of these snippets may have a few visual oddities, but
            | they are mostly here for my benefit.
        br
        p 
            | As of right now, there is no navigation, so just plug
            | `s-glass-hf` at the end of the url to see the current 
            | snippet.
        