extends ../../index.pug

block snippet
    main.glass-main
        .glass-ruler
        .glass-container
            a.icon(href="#")
                i.fas.fa-phone
            a.icon(href="#")
                i.fas.fa-images
            a.icon(href="#")
                i.fas.fa-envelope-open
            a.icon(href="#")
                i.fas.fa-comment
            a.icon(href="#")
                i.fas.fa-music
