block navbar
    main(class="navbar-top")
        header(class="nav-header version-1")
            a(href="/").nav-logo.logo
                i.fas.fa-home
            nav
                ul
                    li
                        a(href="/s-glass-hf")
                            i.fa.fa-glasses
                            | Glass Hover
                    li
                        a(href="#")
                            i.far.fa-edit
                            | Placeholder
                    li
                        a(href="#")
                            i.far.fa-envelope-open
                            | Placeholder
            a.user.nav-user(href="#")
                i.far.fa-user
                | Placeholder