block navbar
    main(class="navbar-top")
        header(class="nav-header version-1")
            a(href="/").nav-logo.logo
                i.fas.fa-feather-alt
            nav
                ul
                    li
                        a(href="/s-glass-hf")
                            i.far.fa-chart-bar
                            | Glass Hover
                    li
                        a(href="#")
                            i.far.fa-edit
                            | Projects
                    li
                        a(href="#")
                            i.far.fa-envelope-open
                            | Posts
            a.user.nav-user(href="#")
                i.far.fa-user
                | Jane Doe