extends ../../index.pug

block snippet
    canvas.orb-canvas

    .overlay
        .overlay__inner
            h1.overlay__title
                | Text Here 
            span.text-gradient more text 
                | Even more text

        p.overlay__description
            | Lotsa text 
        strong.pixi-strong More text 

        .overlay__btns
            button.overlay_btn.overlay__btn--transparent
                a(href="#", target="_blank").pixi-a
                    | Humdinger

            button.overlay__btn.overlay__btn--colors
                span Randomise Colors
                span.overlay__btn-emoji 🖌️