extends ../../index.pug

block snippet
    canvas.orb-canvas

    .overlay
        .overlay__inner
            h1.overlay__title
                | Pixi Effect
            p.text-gradient This is a really cool text effect, 
                | the text here is affected by pixi. It has 
                | similar colors to the floating orbs.

            p.overlay__description
                | I'll have to play around with the javascript 
                | file to change things up.
            strong.pixi-strong More text 

            .overlay__btns
                //- button.overlay_btn.overlay__btn--transparent
                //-     a(href="#").pixi-a
                //-         | Humdinger

                button.overlay__btn.overlay__btn--colors
                    span Randomize Colors
                    span.overlay__btn-emoji 🖌️